<h1><%= @event.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.capacity %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> |
<% if @event.creator_id == current_user.id %>
  <%= link_to "Destroy", @event, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
<% end %>

<h2>Attendees:</h2>
<% @attendees.each do |attendee| %>
  <p><%= attendee.email %></p>
<% end %>

<% if @event.creator_id == current_user.id %>
  <%= form_with(url: add_user_event_path(@event), method: :post) do |form| %>
    <%= form.hidden_field :event_id, value: @event.id %>
    <%= form.collection_select :user_id, User.all, :id, :email %>
    <%= form.submit 'Add User' %>
  <% end %>
<% end %>
